
.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}

@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}

.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}

.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: #007bff;
}

.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.multisteps-form__form {
    position: relative;
    height: auto !important;
    padding: 0 15px;
}

.multisteps-form__panel {
    display: none;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    display: block;
    visibility: visible;
}

.multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
}

.multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
}

.multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
}

.multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
}

.multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.frame-holder {
    display: flex;
    margin: 0 0 15px;
}

.frame {
    flex: 1 1 86px;
    padding: 17px;
    height: 130px;
    border: 11px solid #C7C9C7;
    background: #fff;
    -webkit-box-shadow: inset 2px 2px 4px 1px #c6c6c5;
    -moz-box-shadow: inset 2px 2px 4px 1px #c6c6c5;
    box-shadow: inset 2px 2px 4px 1px #c6c6c5;
}

.img-box {
    height: 100%;
    background: #c6c6c5;
    border: 1px solid #c6c6c5;
    position: relative;
    -webkit-box-shadow: 4px 8px 6px -8px #c6c6c5;
    -moz-box-shadow: 4px 8px 6px -8px #c6c6c5;
    box-shadow: 4px 8px 6px -8px #c6c6c5;
}

.two-pic {
    flex-grow: 7;
}

.frame+.frame {
    margin-left: 15px;
}

.both-img-box {
    padding: 10px 0;
    display: flex;
    height: 100%;
}

.both-img-box .img-box {
    flex-grow: 1;
}

.img-box {
    height: 100%;
    background: #c6c6c5;
}

.img-box+.img-box {
    margin-left: 25px;
}

.flex-4 {
    flex: 1.27;
}

.flex-8 {
    flex: 2;
    margin-left: 15px;
}

.flex-4 .frame {
    height: 100%;
    padding: 50px;
}
.flex-8.margin-right {
    margin-left: auto;
    margin-right: 15px;
}

.vertical-grid {
    margin-left: auto;
}

.vertical-grid .flex-8 {
    margin-left: auto;
    margin-right: 17px;
}

.vertical-grid .flex-8.margin-left {
    margin-left: 17px;
    margin-right: auto;
}

.vertical-grid .frame {
    padding: 15px;
}

.vertical-grid .flex-4 {
    flex: 1.42;
}

.vertical-grid .flex-8 {
    flex: 3;
}

.vertical-grid .frame.big-frame {
    padding: 49px;
    height: 229px;
    margin: 0 0 15px;
}

.vertical-grid .frame {
    height: 107px;
}

.vertical-grid .frame.two-pic {
    height: 229px;
}

.vertical-grid .frame.two-pic .both-img-box {
    padding: 0 10px;
    display: block;
    height: 44%;
    margin: 0 0 21px;
}

.img-box.margin-top {
    margin-left: auto;
    margin-top: 21px;
}

.columns-holder {
    display: flex;
}

.columns-holder .column {
    flex: 1;
}

.column+.column {
    margin-left: 15px;
}

.vertical-grid.new-design .flex-4 {
    flex: 1.36;
}

.vertical-grid.new-design .flex-8 {
    flex: 6;
}

.vertical-grid.new-design .flex-4.add {
    flex: 3.95;
}

.vertical-grid.new-design .frame.two-pic {
    height: 128px;
}

.vertical-grid.new-design .frame.two-pic .both-img-box {
    padding: 11px 0;
    display: flex;
    height: 100%;
    margin: 0;
}

.new-design .add .img-box:last-child {
    margin-left: 22px;
}

.vertical-grid.new-design .frame {
    height: 128px;
}

.vertical-grid.new-design .frame.big-frame {
    padding: 50px 48px;
    height: 273px;
}

.single-column {
    width: 106px;
}

.direction {
    flex-direction: row-reverse;
}

.right {
    float: right;
}

@media only screen and (max-width: 768px) {
    .multisteps-form .multisteps-form__title {
        font-size: 20px;
    }
    .first-step {
        padding: 0;
    }
    .multisteps-form .multisteps-form__desc {
    font-size: 16px;
}


.multisteps-form__header {
    margin-bottom: 35px;
}
.multisteps-form .frames-selection .frame-wrap .img-wrap {
    margin: 0;
}
.multisteps-form .frames-selection .frame-wrap {
    margin-bottom: 25px;
}
.next-previous {
    padding-bottom: 0;
}
.multisteps-form .layoutdynamic.frames-selection {
    flex-direction: column;
}
.frame-det-left {
    padding: 0;
}
.frame-det-color .col-md-2 {
    margin-right: 15px;
    display: inline-block;
} 
.multisteps-form__desc, .upload-first {
    display: none;
}
    .frame-holder {
        display: block;
        text-align: center;
        margin: 0 -10px 10px -5px;
    }
    .frame {
        width: 46%;
        flex: none;
        margin: 0 5px 10px;
        display: inline-block;
        vertical-align: top;
    }
    .frame+.frame {
        margin: 0 5px 10px;
    }
    .flex-4 .frame {
        width: 96%;
    }
    .flex-4 .frame {
        height: 150px;
        padding: 30px;
    }
    .two-pic {
        width: 96% !important;
    }
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

label.cabinet {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.pl-5, .px-5 {
    padding-left: 3rem!important;
}
.pr-5, .px-5 {
    padding-right: 3rem!important;
}
.m-0 {
    margin: 0!important;
}
.frame-det-left {
    padding-right: 16%;
}
#upload-demo {
    width: 100%;
    height: 450px;
    padding-bottom: 40px;
}
label.cabinet figure {
    height: 100%;
}
label.cabinet img {
    height: 100%;
    object-fit: fill;
}
.multisteps-form .frame-det-right  .upload-first input.file {
    height: 45px;
    margin: 0;
    width: 100%;
    left: 0;
}
.p-0 {
    padding: 0;
}
