/*Font Family Used In Website*/
body {
font-family: avenir-regular;
}
 @font-face {
font-family:avenir-light;
src: url("../fonts/avenir-light.otf");
}

 @font-face {
font-family:avenir-regular;
src: url("../fonts/avenir-regular.otf");
}

 @font-face {
font-family:avenir-medium;
src: url("../fonts/avenir-medium.otf");
}

 @font-face {
font-family:avenir-bold;
src: url("../fonts/avenir-bold.otf");
}

 @font-face {
font-family:avenir-black;
src: url("../fonts/avenir-black.otf");
}





section , header , footer {
    float: left;
    width: 100%;
}

a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer !important;
    text-decoration: none !important;
    display: inline-block;
}



footer {
    background: #17181a;
    padding: 35px 0px 25px 0px;
}

.footer-form {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}


.footer-form h5 {
    color: white;
    font-family: avenir-regular;
    font-size: 31px;
    margin-bottom: 28px;
}

.footer-form form {
    background: white;
    width: 100%;
    max-width: 620px;
    margin: auto;
    position: relative;
    border-radius: 35px;
    text-align: left;
    overflow: hidden;
}

.footer-form input[type="email"]::placeholder {
color:silver;
}

.footer-form input[type="email"] {
    border: none;
    width: 100%;
    font-size: 15px;
    color: black;
    padding: 20px 26px;
}

.footer-form form input[type="submit"] {
    background-image: url(../images/right-arrow.jpg);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    background-size: 22px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    padding-right: 30px;
    height: 100%;
    border: none;
    padding-right: 22px;
    padding-left: 25px;
}

.footer-form h6 {
    color: white;
    font-family: avenir-regular;
    font-size: 19px;
    letter-spacing: 0.4px;
    margin-top: 32px;
}
 
.footer-form h6 a {
    color: white;
    border-bottom: 1px solid #d8d8d8;
    margin: 0px 3px;
}
.footer-anchors a {
    color: #939598;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin: 0px 7px;
}
.footer-anchors {
    float: left;
    width: 100%;
    text-align: center;
}
.footer-anchors p {
    color: #939598;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-top: 12px;
}
header {
    background: #f8eae2;
    padding: 18px 0px;
    position: fixed;
    top: 0px;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
}
.logo img {
    width: 170px;
}

.logo {
    float: left;
}
.hamburger-btn {
    float: right;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 9999999;
}

.hamburger-btn img {
    width: 46px;
    padding: 5px;
    cursor: pointer;
    margin-top: 15px;
}
section.faqs-page {
    background: #fbf7f4;
    padding-top: 15px;
    padding-bottom: 10px;
}
.faq-heading {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.faq-heading h5 {
    color: #070707;
    font-family: avenir-medium;
    font-size: 40px;
    margin-bottom: 12px;
}


.faq-heading p {
    color: #070707;
    font-size: 19px;
    max-width: 480px;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.faq-box h5 {
    color: #0f8ac2;
    font-family: avenir-regular;
    font-size: 22px;
    letter-spacing: 0.3px;
    margin-top: 0px;
}

.faq-box p {
    color: #737373;
    font-size: 15px;
    line-height: 24px;
}

.faqs-questions {
    float: left;
    width: 100%;
}
.faq-box {
    float: left;
    width: 100%;
    padding-right: 80px;
    min-height: 275px;
}

.faq-box2 {
    float: left;
    width: 100%;
    padding-right: 80px;
    min-height: 350px;
}



section.contact-call {
    background: #fbf7f4;
    padding: 50px 0px 70px 0px;
    text-align: center;
}

.contact-call p {
    color: #17181a;
    font-size: 18px;
    font-family: avenir-regular;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.contact-call h5 {
    color: #070707;
    font-family: avenir-medium;
    font-size: 34px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}
.contact-call a:nth-child(3) {
    background: #212121;
    font-family: avenir-regular;
    font-style: italic;
    padding: 15px 62px;
    color: #e2e2e2;
    font-size: 17px;
    letter-spacing: 0.4px;
    border-radius: 8px;
}

.contact-call h5 a {
    color: black;
    border-bottom: 1px solid black;
    line-height: 32px;
}

section.contact-page {
    background: #fbf7f4;
    padding-bottom: 100px;
    padding-top: 10px;
}
.contact-form h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 60px;
    margin-bottom: 12px;
}

.contact-form p {
    color: #070707;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.contact-form form {
    float: left;
    width: 80%;
    margin-top: 30px;
}

.form-field1 select {
    background: none;
    border: 1px solid #212121;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0px 15px;
    color: #070707;
    font-size: 15px;
    letter-spacing: 0.2px;
}

input , select ,textarea , button {
    outline: none !important;
}

.form-field1 input {
    background: none;
    border: 1px solid #212121;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0px 15px;
    color: #070707;
    font-size: 15px;
    letter-spacing: 0.2px;
}


.form-field1 textarea {
    background: none;
    border: 1px solid #212121;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #070707;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.form-field1 p {
    color: #070707;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: avenir-regular;
}

.form-field1 {
    float: left;
    width: 100%;
    margin-bottom: 13px;
}

.form-field1 input[type="submit"] {
    background: #212121 !important;
    width: 200px;
    font-family: avenir-regular;
    font-style: italic;
    color: white;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 12px;
}
.contact-anchors h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 8px;
}
.contact-anchors p a {
    color: #070707;
    font-family: avenir-regular;
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-anchors {
    float: left;
    width: 100%;
    padding-top: 20px;
}
header .container {
    width: 100%;
    padding: 0px 3%;
    max-width: 100%;
}

section.how-it-works-page {
    background: #fbf7f4;
    padding-bottom: 35px;
}
.works-head {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
}
.works-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 55px;
    margin-bottom: 12px;
}
.works-head p {
    color: #070707;
    font-size: 16px;
    letter-spacing: 0.3px;
}
.work-layout1 {
    float: left;
    width: 100%;
    text-align: center;
}

.work-layout1 img {
    height: 130px;
    margin-bottom: 20px;
}
.work-layout1 h5 {
    color: #070707;
    font-size: 50px;
    font-family: avenir-regular;
    margin-bottom: 13px;
}
.work-layout1 h5 span {
    display: block;
    font-size: 60px;
    margin-bottom: 15px;
}
.work-layout1 p {
    color: #4c4b4b;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 30px;
}
.three-layouts {
    float: left;
    width: 100%;
    margin-top: 45px;
    text-align: center;
}
.layout1 {
    float: left;
    width: 100%;
}
.layout1 h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
}
img {
    max-width: 90%;
}
.layout1 img {
    width: 75%;
    display: block;
    margin: auto;
}



.layout1 img.versace {
    width: 65px;
    position: absolute;
    right: -8%;
    top: 135px;
}
.layout-image {
    float: left;
    width: 100%;
    text-align: center;
}
.layout-image img {
    width: 60%;
}
.three-points {
    float: left;
    width: 100%;
}

.three-points img {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.work-layout4 h5 span {
    font-size: 45px;
}
.work-layout4 h5 {
    font-size: 42px;
}

.work-layout4 {
    float: left;
    width: 100%;
    padding: 0px 30px;
}

.start-order {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.start-order a {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    padding: 13px 35px;
    font-size: 18px;
    border-radius: 10px;
}

.navbar-custom {
    position: fixed;
    right: -100%;
    background: #050708;
    width: 320px;
    top: 0px;
    padding: 45px 50px;
    min-height: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: 999;
}


.navbar-custom p a {
    color: white;
    font-family: avenir-regular;
    font-size: 28px;
    letter-spacing: 0.5px;
}

body {
    overflow-x: hidden;
    float: left;
    background: #fbf7f4;
    width: 100%;
}

.menu-opened .navbar-custom {
    right: 0px;
}

section.collection-page {
    background: #fbf7f4;
    padding-bottom: 50px;
}

.collection-head {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.collection-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 55px;
    margin-bottom: 12px;
}
.collection-head p {
    color: #070707;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 28px;
}

.collection-cat1 {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.collection-btn {
    float: left;
    width: 100%;
    margin-top: 40px;
}

.collection-cat1 h5 {
    display: inline-block;
    color: #070707;
    font-family: avenir-regular;
    font-size: 28px;
    border-bottom: 2px solid #070707;
    margin-bottom: 40px !important;
    line-height: 27px;
}
.collection-image {
    float: left;
    width: 100%;
    text-align: center;
}


.collection-image img {
    width: 75%;
    box-shadow: 1px 1px 13px #d4d4d4;
}

.collection-btn a {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    padding: 10px 65px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 6px;
    box-shadow: 1px 1px 14px silver;
}
.collection-cat2 .collection-image img {
    width: 110%;
    max-width: 110%;
    box-shadow: none;
}

section.home-collection {
    background:white;
}


.collection-head h1 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 30px;
    margin-bottom: 30px;
}

header.home-header {
    background:#f8eae2;
}
.home-banner {
    background-image: url(../images/pink-bg.jpg);
    background-size: 100% 510px;
    text-align: center;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 60px;
    background-color: white;
    margin-top: -40px;
}
.banner-text {
    float: left;
    width: 100%;
}

.banner-text h5 {
    color: #070707;
    font-size: 60px;
    font-family: avenir-regular;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}
a.cart-button {
    padding: 12px 20px;
    border-radius: 0px;
    font-size: 22px;
}
.cart-button img {
    width: 40px;
}
a.cart-button i {
    margin-right: 4px;
}

.banner-text p {
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 30px;
}

section.info-text {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    background: white;
}

.info-box h5 {
    color: #070707;
    font-size: 36px;
    font-family: avenir-regular;
    margin-bottom: 12px;
    padding-left: 95px;
    position: relative;
}
.info-box p {
    color: #444343;
    font-size: 15px;
    line-height: 25px;
}
.info-box {
    float: left;
    width: 80%;
}
section.standard-frame {
    background: #fbf7f4;
    padding: 50px 0px 20px 0px;
    text-align: center;
    margin-bottom: 20px;
}
.standard-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 50px;
    margin-bottom: 22px;
}
.standard-text p {
    color: #4c4c4c;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.standard-text {
    margin-bottom: 60px;
}
.get-started {

}

.get-started span {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    padding: 25px 0px;
}
section.print-page {
    background: #fbf7f4;
    text-align: center;
    padding-bottom: 150px;
}


.print-head {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}


.print-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 45px;
    margin-bottom: 15px;
}
.print-head p {
    color: grey;
    font-size: 16px;
    width: 100%;
    max-width: 480px;
    margin: auto;
    line-height: 27px;
    letter-spacing: 0.4px;
}
.print-data {
    float: left;
    width: 100%;
}

.subscription-text {
    float: left;
    width: 100%;
    padding: 0px 25%;
}

.subscription-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
}
.subscription-text h6 {
    color: #070707;
    font-family: avenir-regular;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.subscription-text p {
    color: #070707;
    font-size: 22px;
    line-height: 28px;
    font-family: avenir-regular;
    margin-bottom: 30px;
    min-height: 180px;
}


a.print-button1 {
    background: white;
    box-shadow: 1px 1px 10px silver;
    color: #070707;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    padding: 8px 0px;
    border-radius: 5px;
    width: 155px;
}




a.print-button2 {
    background: #000000;
    box-shadow: 1px 1px 10px silver;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    padding: 8px 0px;
    border-radius: 5px;
    width: 155px;
}

.print-button {
    float: left;
    width: 100%;
    margin-top: 70px;
}

.print-button a {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    width: 180px;
    padding: 11px 0px;
    font-size: 16px;
    letter-spacing: 0.8px;
    border-radius: 8px;
}
.border-right {
    border-right: 1px solid #212121;
}
img.mobile-line {
    display: none;
}
section.login-page {
    background: #fbf7f4;
    padding-bottom: 100px;
    padding-top: 0px;
}


.login-head {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}


.login-head h5 {
    color: #070707;
    font-family: avenir-medium;
    font-size: 50px;
}

.login-head p {
    color: #5a5a5a;
    font-family: avenir-regular;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.3px;
}


.login-head p a {
    color: black;
    font-size: 18px;
    margin-left: 3px;
    border-bottom: 1px solid black;
    line-height: 18px;
}

.login-data {
    float: left;
    width: 100%;
}

.login-data form {
    width: 100%;
    max-width: 650px;
    margin: auto;
}
.form-field2 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.form-field2 input::placeholder {
    color:black;
}
.form-field2 input {
    background: none;
    border: 1px solid #212121;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding: 0px 20px;
    color: #070707;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-family: avenir-regular;
}



.form-field2 p {
    color: #070707;
    font-family: avenir-regular;
    font-size: 18px;
    margin-bottom: 15px;
}

a.forgot-pass {
    color: black;
    font-weight: 600;
    margin-top: 18px;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
}

.login-data form input[type="submit"] {
    background: #212121;
    width: auto;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    border-radius: 8px;
    height: 47px;
    box-shadow: 1px 1px 8px silver;
    padding: 0px 40px;
}
span.info-tag {
    display: block;
    color: #070707;
    font-size: 14px;
    margin-top: 10px;
}
section.subscription-cancel {
    background: #fbf7f4;
    padding-bottom: 100px;
}
.subscription-cancel-data {
    width: 100%;
    max-width: 560px;
    margin: auto;
}
.subscription-cancel-data h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 42px;
    margin-bottom: 12px;
}
.subscription-cancel-data p {
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 27px;
    margin-bottom: 30px;
}
.subscription-cancel-data a {
    font-family: avenir-regular;
    color: black;
    font-style: italic;
    border-bottom: 1px solid black;
    line-height: 18px;
}
section.follow-password {
    background: #fbf7f4;
    padding-bottom: 200px;
    padding-top: 30px;
}
.follow-pass-text {
    float: left;
    width: 100%;
    text-align: center;
}
.follow-pass-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 40px;
    margin-bottom: 40px;
}

.follow-pass-text a {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    padding: 11px 45px;
    border-radius: 8px;
    letter-spacing: 0.8px;
    box-shadow: 1px 1px 10px silver;
}

.header-empty {
    float: left;
    width: 100%;
    height: 160px;
}
.header-fixed header {
    padding: 10px 0px;
}

.container {
    width: 100%;
    max-width: 1170px;
}
section.empty-cart-page {
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;
}
.empty-cart-data h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 100px;
}
.empty-cart-data p {
    color: #070707;
    font-family: avenir-regular;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 60px;
}
.empty-cart-data p a {
    color: black;
    border-bottom: 1px solid black;
    line-height: 24px;
}
a.empty-cart-btn {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    padding: 12px 34px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px silver;
}

.gallery-search h5 {
    color: #070707;
    font-family: avenir-medium;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.gallery-search form {
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid black;
    padding: 12px 0px;
}
.gallery-search input[type="text"] {
    border: none;
    width: 75%;
    border-right: 1px solid #adadad;
    padding: 8px 20px 8px 50px;
    font-family: avenir-regular;
    font-size: 18px;
}

.gallery-search form select {
    width: 160px;
    position: absolute;
    right: 30px;
    border: none;
    font-family: avenir-regular;
    color: black;
    font-size: 20px;
    top: 0px;
    height: 65px;
}
.gallery-search input[type="text"]::placeholder {
    color:#070707;
}

.gallery-search form i {
    position: absolute;
    top: 23px;
    font-size: 17px;
    left: 20px;
}

.gallery-search h6 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 22px;
    letter-spacing: 0.3px;
    margin-top: 30px;
    text-align: center;
}
section.gallery-images {
    padding-top: 30px;
    padding-bottom: 60px;
}
.gallery-images .container {
    width: 100%;
    max-width: 100%;
    padding: 0px 4%;
}

.gal-pic {
    float: left;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 60px;
}

.gal-pic img {
    width: 100%;
}
.gal-pic h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 25px;
    float: left;
    margin-top: 15px;
     border-bottom: 1px solid #fbf7f4;
}
a.plus-icon {
    position: absolute;
    color: black;
    right: 10%;
    bottom: 10px;
    border: 1px solid black;
    padding: 6px 0px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 100%;
}
.three-pics {
    width: 33%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

.four-pics {
    width: 24.5%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

.gal-pic:hover a.plus-icon{
background:black;
color:white;
}

.gal-pic:hover h5{
 border-bottom: 1px solid black;
}

section.gallery-detail {
    padding-bottom: 70px;
    padding-top: 10px;
}
.gallery-big-image {
    width: 100%;
}
.gallery-big-image img {
    width: 100%;
    max-width: 100%;
}
.gallery-detail-info {
    float: left;
    width: 100%;
}

.gallery-detail-info h5 {
    color: #070707;
    font-family: avenir-medium;
    font-size: 40px;
    margin-bottom: 22px;
}
.gallery-detail-info p {
    font-family: avenir-regular;
    font-size: 19px;
    letter-spacing: 0.9px;
    margin-bottom: 25px;
}

.gallery-detail-info h3 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.2px;
}


.gallery-detail-info form select {
    display: block;
    width: 80%;
    height: 46px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 16px;
    margin-bottom: 30px;
}


.gallery-detail-info form input[type="submit"] {
    background: #212121;
    color: white;
    border: none;
    font-family: avenir-regular;
    font-style: italic;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px silver;
}
.gallery-detail-info form {
    margin-top: 43px;
}

.gallery-dimensions-box {
    float: left;
    width: 100%;
    text-align: center;
}


.gallery-dimensions-box h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 17px;
    margin-bottom: 10px;
}
.gallery-dimensions-box p {
    font-family: avenir-regular;
    color: #070707;
    font-size: 30px;
    margin-bottom: 40px;
}

section.gallery-dimensions {
    padding-bottom: 70px;
}

.similar-image-main img {
    height: 330px;
    display: block;
    margin: auto;
    cursor: pointer;
}
.similar-image-main {
    outline: none !important;
}

.similar-images-head {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}


.similar-images-data {
    float: left;
    width: 100%;
    padding: 0px 15px;
}

.similar-image-main h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
.similar-images-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 19px;
    letter-spacing: 1px;
}

.slick-prev {
    width: 20px;
    height: 20px;
    left: 20px;
    opacity: 1;
    font-size: 30px !important;
    background-image: url("../images/leftarrow.png");
}
.slick-prev {
    width: 25px;
    height: 25px;
    left: 20px;
    opacity: 1;
    font-size: 30px !important;
    background-image: url(../images/leftarrow.png);
    background-size: 15px;
    font-size: 0px !important;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.slick-prev:hover , .slick-prev:focus , .slick-prev:active {
    width: 25px;
    height: 25px;
    left: 20px;
    opacity: 1;
    font-size: 30px !important;
    background-image: url(../images/leftarrow.png);
    background-size: 15px;
    font-size: 0px !important;
    background-color: rgba(0,0,0,1);
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
}
.slick-prev:before {
    content:"";
}

.slick-next:before {
    content:"";
}





.slick-next {
    width: 25px;
    height: 25px;
    right: 20px;
    opacity: 1;
    font-size: 30px !important;
    background-image: url(../images/rightarrow.png);
    background-size: 15px;
    font-size: 0px !important;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.slick-next:hover , .slick-next:active , .slick-next:focus {
    width: 25px;
    height: 25px;
    right: 20px;
    opacity: 1;
    font-size: 30px !important;
    background-image: url(../images/rightarrow.png);
    background-size: 15px;
    font-size: 0px !important;
    background-color: rgba(0,0,0,1);
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
}

.privacy-policy-left {
    float: left;
    width: 100%;
}
.legal-anchors h5 span {
    color: black;
    font-family: avenir-regular;
    font-size: 26px;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    line-height: 28px;
    margin-bottom: 0px !important;
    display: inline-block;
}

.legal-anchors p a {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    display: inline-block;
}
.legal-anchors p {
    margin-bottom: 6px;
    display: inline-block;
    margin-right: 20px;
}
.legal-anchors h5 {
    display: inline-block;
    margin-right: 30px;
    width: 100%;
    margin-bottom: 25px;
}


.privacy-policy-right {
    float: left;
    width: 100%;
}

.privacy-policy-head {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.privacy-policy-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 50px;
}
.privacy-policy-data {
    float: left;
    width: 100%;
}
.privacy-policy-data p {
    color: black;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
    font-family: avenir-regular;
}
.privacy-policy-data h5 {
    color: black;
    font-weight: normal;
    font-size: 18px;
    font-family: avenir-bold;
}
.legal-anchors {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 25px;
}
section.privacy-page {
    padding-bottom: 50px;
}

.account-head {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.account-head h5 {
    color: black;
    font-family: avenir-medium;
    font-size: 45px;
}
.account-head p {
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
}
.account-data {
    float: left;
    width: 100%;
}

.personal-head {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.personal-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 16px;
    float: left;
}

.personal-head button {
    background: none;
    border: none;
    font-size: 16px;
    font-family: avenir-regular;
    font-style: italic;
    float: right;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 0px;
}

.account-form {
    float: left;
    width: 100%;
}

.account-form form {
    float: left;
    width: 100%;
    margin-bottom: 70px;
}

.form-field3 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.form-field3 p {
    float: left;
    width: 220px;
    font-size: 16px;
    margin-top: 15px;
}

 .form-field3 input::placeholder {
    color:black;
 }

.form-field3 input {
    width: 55%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
}


.form-field3 select:nth-child(2) {
    width: 26%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
}
.form-field3 select:nth-child(3) {
    width: 26%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
    margin-left: 30px;
}


.order-col-head {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.order-col-head .order-col1 {
    width: 16%;
    float: left;
    color: black;
    font-size: 17px;
}




.order-col-head .order-col1{
    width: 16%;
    float: left;
    color: #636363;
    font-size: 17px;
}
.order-col-head .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: #636363;
    font-size: 17px;
}
.order-col-data {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.mb-70 {
    margin-bottom: 70px;
}


.order-col-data .order-col1 {
    width: 16%;
    float: left;
    color: black;
    font-size: 19px;
    font-family: avenir-regular;
}
.order-col-data .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: black;
    font-size: 19px;
}

.order-col-data .order-col1:nth-child(5) {
    width: 13%;
}


.order-col-data .order-col1:nth-child(6) {
    width: 13%;
}

 



.order-col-data .order-col1:nth-child(5) a {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    border-bottom: 1px solid black;
    line-height: 20px;
}

a.order-btn2 {
    background: white;
    color: black;
    font-family: avenir-regular;
    padding: 10px 25px;
    border-radius: 9px;
    box-shadow: 1px 1px 10px silver;
    letter-spacing: 0.8px;
    font-style: italic;
    margin-left: 25px;
    margin-top: -10px;
}

.draft-col-head {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}


.draft-col-head .draft-col1 {
    width: 16%;
    float: left;
    color: #636363;
    font-size: 17px;
}


.draft-col-data .draft-col1 {
    width: 16%;
    float: left;
    color:black;
    font-size: 19px;
    font-family: avenir-regular;
}

.draft-col-data .draft-col1:nth-child(2) {
    width: 22%;
    float: left;
    color: black;
    font-size: 19px;
}
.draft-col-data {
    float: left;
    width: 100%;
}
.draft-col-buttons {
    float: right;
 }
.draft-col-buttons a {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    border-bottom: 1px solid black;
    line-height: 20px;
    margin-left: 100px;
    float: right;
}

.logout-button button {
    background: black;
    color: white;
    border: none;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px silver;
    float: right;
}
.logout-button {
    float: left;
    width: 100%;
}
section.account-page {
    padding-bottom: 100px;
}

.account-form .form-field3 a {
    color: black;
    font-family: avenir-regular;
    font-weight: 600;
    font-size: 16px;
    margin-left: 50px;
    border-bottom: 1px solid black;
    line-height: 23px;
    letter-spacing: 0.7px;
}

.gallery-dimensions-box b {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}

.gallery-dimensions-box b a{
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    border-bottom: 1px solid black;
}
.similar-detail h5 {
    display: inline-block;
    color: #070707;
    font-family: avenir-regular;
    font-size: 28px;
    border-bottom: 2px solid #070707;
    margin-bottom: 40px !important;
    line-height: 27px;
}
.similar-detail {
    float: left;
    width: 100%;
    text-align: center;
}

section.kids-collection-details {
    padding-bottom: 70px;
}
.all-frames {
    float: left;
    width: 100%;
}
.all-frames div {
    float: left;
    width: 33%;
    text-align: center;
}
.all-frames div {
    float: left;
    width: 33%;
    text-align: center;
    padding: 20px 10px;
}
.black-frame img {
    border: 10px solid #f4f6f5;
    outline: 10px solid black;
}

.collection-detail-text {
    float: left;
    width: 100%;
    padding-left: 0px;
}

.collection-detail-text h5 {
    color: black;
    font-family: avenir-medium;
    font-size: 35px;
    margin-bottom: 27px;
}

.collection-detail-text h6 {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
}

.collection-detail-text p {
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.frame-colors {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 50px;
}

.frame-colors b {
    color: black;
    font-weight: normal;
    font-family: avenir-regular;
    font-size: 16px;
    margin-left: 10px;
}


span.black {
    background: black;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border:1px solid silver;
}


span.white {
    background: white;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border:1px solid silver;
}

span.brown {
    background: brown;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border:1px solid silver;
}

span.grey {
    background: grey;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border:1px solid silver;
}
.frame-colors span {
    margin-right: 5px;
}
.collection-detail-text form {
    width: 100%;
    float: left;
}


.collection-detail-text form h1 {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
}
.collection-detail-text form select {
    display: block;
    width: 220px;
    background: none;
    border: 1px solid black;
    height: 42px;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 18px;
    margin-bottom: 30px;
}


.collection-detail-text form button {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    border: none;
    padding: 12px 27px;
    letter-spacing: 0.8px;
    font-size: 17px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px silver;
}

.frame-detail-images {
    text-align: center;
    float: left;
    width: 100%;
}

.frame-detail-images img {
    display: block;
    margin: auto;
    width: 70%;
}
.frame-detail-images div {
    outline: none !important;
}

.silver-frame-detail img {
    outline: 30px solid #b6b6b6;
    border: 30px solid #f4f6f5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.frame-colors img {
    width: 25px;
    border-radius: 100%;
    margin-right: 4px;
}
.mb-0 {
    margin-bottom: 0px;
}

.frame-more-images img {
    width: 90px;
    margin: 0px 11px;
    border: 1px solid silver;
}


.frame-more-images {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -15px;
}
.checkout-item-head {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.checkout-item-head .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.checkout-item-head .check-col1:nth-child(3) {
    width: 27%;
}


.checkout-item-head .check-col1:nth-child(4) {
    width: 20%;
}

.empty-width {
    font-size: 0px;
}

.checkout-item-data .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    letter-spacing: 0.5px;
}


.checkout-item-data .check-col1:nth-child(2) {
font-size: 22px;
}
span.est-delivery {
    display: block;
    font-size: 14px;
    font-family: arial;
    margin-top: 15px;
}
.black-line {
    float: left;
    width: 100%;
    height: 1px;
    background: black;
    margin-bottom: 40px;
    margin-top: 25px;
}


.checkout-item-data .check-col1:nth-child(4) {
    width: 20%;
}

.checkout-item-data .check-col1:nth-child(3) {
    width: 27%;
    line-height: 25px;
}

.checkout-item-data .check-col1 img {
    width: 160px;
    display: block;
    margin-bottom: 20px;
}

.checkout-item-data .check-col1 a {
    font-family: avenir-regular;
    font-size: 16px;
    font-style: italic;
    color: black;
    border-bottom: 1px solid black;
    line-height: 20px;
}

.checkout-item-data {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}


.checkout-item-data .check-col1:nth-child(5) a {
    float:none;
    margin-top: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
span.red-point {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #f59678;
    border: 1px solid black;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -4px;
    box-shadow: 1px 1px 5px silver;
}
.no-padding {
    padding:0px !important;
}

.checkout-payments {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.promo-form {
    float: left;
    width: 100%;
}
.promo-form h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}
.promo-form form input[type="text"] {
    width: 320px;
    height: 45px;
    padding: 0px 10px;
    background: none !important;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 20px;
}

.checkout-totals {
    float: left;
    width: 100%;
    padding-left: 100px;
}
.checkout-totals p b {
    font-weight: normal;
    font-family: avenir-regular;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    width: 170px;
}
.checkout-totals p span {
    font-family: avenir-regular;
    font-size: 18px;
    color: black;
    display: inline-block;
}
.checkout-totals p {
    margin-bottom: 5px;
}
.promo-form form input[type="submit"] {
    background: white;
    border: none;
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 10px 26px;
    box-shadow: 1px 1px 10px silver;
    border-radius: 8px;
}


.checkout-totals h5 b {
    font-weight: 600;
    font-family: avenir-regular;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    width: 170px;
}

.checkout-totals h5 span {
    font-family: avenir-regular;
    font-size: 18px;
    color: black;
    font-weight: 600;
    display: inline-block;
}
.proceed-checkout {
    float: left;
    width: 100%;
    margin-top: 80px;
}
.proceed-checkout button {
    background: #212121;
    color: white;
    border: none;
    font-family: avenir-regular;
    font-style: italic;
    letter-spacing: 0.6px;
    font-size: 16px;
    padding: 14px 27px;
    border-radius: 5px;
    box-shadow: 3px 4px 10px silver;
    float: right;
}

.proceed-checkout a {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    border-bottom: 1px solid black;
    line-height: 22px;
    letter-spacing: 0.6px;
    font-size: 15px;
    margin-top: 15px;
}
section.checkout-page {
    padding-bottom: 100px;
}
.modal {
    z-index: 999999999;
}


.cancel-pop {
    display: block;
    padding: 50px 70px;
}


.modal-content {
    border: none;
}

.cancel-pop h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 30px;
    margin-bottom: 20px;
}


.cancel-pop p {
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 30px;
    margin-bottom: 25px;
}

.cancel-pop a:nth-child(3) {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-size: 15px;
    padding: 12px 45px;
    font-style: italic;
    letter-spacing: 0.8px;
    border-radius: 7px;
    margin-right: 15px;
    border: 1px solid #212121;
}



.cancel-pop a:nth-child(4) {
    background: none;
    color: #212121;
    font-family: avenir-regular;
    font-size: 15px;
    padding: 12px 45px;
    font-style: italic;
    letter-spacing: 0.8px;
    border-radius: 7px;
    margin-right: 15px;
    border: 1px solid #212121;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    opacity: 1;
    font-size: 30px;
}
.cancel-pop-main {
    margin-top: 150px;
}


section.order-numbering {
    background: white;
    padding: 18px 0px;
    text-align: center;
    position: relative;
}

.order-numbering div {
    font-size: 16px;
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    display: inline-block;
    margin: 0px 40px;
    letter-spacing: 0.7px;
}



.cancel-order {
    position: absolute;
    right: 0px;
    opacity: 0.5;
}

.cancel-order:hover {
    opacity:1;
}

div.process-line {
    display: block;
    height: 7px;
    background: black;
    width: 35%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

section.all-steps {
    padding: 0px 0px;
}
.first-step {
    display: inline-block;
    width: 100%;
    padding:100px 0px;
}
.layout-dropdown {
    position: relative;
}

.first-step h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 50px;
    margin-bottom: 45px;
}
.layout-dropdown {
    width: 60%;
}

.layout-dropdown button {
    width: 100%;
    background: none;
    border: 2px solid #404040;
    padding: 15px 20px;
    border-radius: 9px;
    font-size: 18px;
    text-align: left;
}

.layout-dropdown button img {
    width: 24px;
    float: right;
    margin-top: 5px;
}

.first-step ul.dropdown-menu {
    width: 100%;
}

.layout-dropdown ul li a {
    color: #3a3a3a;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 7px 20px;
}
 


.first-step ul.dropdown-menu {
    width: 100%;
    top: 58px;
    background: white;
    box-shadow: none;
    border: none;
    box-shadow: 0px 0px 16px silver;
    border-radius: 0px 0px 8px 8px;
    margin-top: -6px;
    padding-top: 5px;
}

.layout-dropdown.open button {
    border: 2px solid white;
    background: white;
    z-index: 9999;
    position: relative;
    box-shadow: 0px -6px 10px gainsboro;
}
.second-step {
    float: left;
    width: 100%;
    padding: 100px 0px;
}

.frame-det-left {
    width: 18%;
    float: left;
}


.frame-det-right {
    float: left;
    width: 82%;

}

.custom-frame-boxes {
    float: left;
    width: 100%;
        background: #f5f2ed;
    padding: 40px;
}

.custom-frame-box-left {
    width: 40%;
    float: left;
}


.custom-frame-box-right {
    width: 60%;
    float: left;
    padding-left: 25px;
}
.custom-frame-head {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.custom-frame-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 45px;
    letter-spacing: 1px;
}
.custom-frame-image img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    height: 190px;
}

.custom-frame-image2 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 400px;
}
.custom-frame-image2 {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.custom-frame-image3 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
}
.frame-det-color b {
    display: block;
    font-weight: normal;
    font-family: avenir-regular;
    font-size: 16px;
    margin-top: 10px;
}

.frame-det-color h6 {
    display: block;
    font-weight: normal;
    font-family: avenir-regular;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.frame-det-color h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 26px;
    margin-bottom: 20px;
}
.frame-det-color {
    float: left;
    width: 100%;
    padding-top: 100px;
}
.frame-det-color.no-padding {
    padding-top: 40px !important;
}

.frame-selections img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.frame-selections p {
    color: black;
    font-family: avenir-regular;
    font-size: 16px;
    text-align: center;
    margin-bottom: 22px;
}


.frame-selections {
    float: left;
    width: 100%;
    padding-right: 80px;
}


.frame-toggle {
    float: right;
    text-align: right;
    margin-top: 60px;
}
.frame-toggle p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.frame-toggle-btn b {
    background: white;
    width: 70px;
    display: inline-block;
    height: 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 1px 6px silver;
}
.frame-toggle-btn b sup {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #212121;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}


.frame-toggle-btn span {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -18px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
span.frame-style1 {
    opacity: 0.6
}

.drag-info p {
    color: black;
    font-size: 13px;
    line-height: 20px;
}








.frame-toggle-btn b.cm-onn sup {
    right: 40px;
}

.third-step {
    float: left;
    width: 100%;
    padding: 100px 0px;
}

.fourth-step {
    float: left;
    width: 100%;
    padding: 100px 0px;
}
.fourth-step .frame-det-right {
    width: 100%;
    text-align: center;
}
.fourth-step .frame-det-right {
    width: 82%;
    text-align: center;
    float: none;
    margin: auto;
    display: block;
}
.custom-frame-head p {
    font-family: avenir-regular;
    font-size: 18px;
}
.order-completed {
    display: block;
    float: left;
    width: 90%;
    text-align: right;
    margin-top: 35px;
}
.order-completed a:nth-child(2) {
    background: #212121;
    color: white;
    font-family: avenir-regular;
    font-style: italic;
    padding: 12px 35px;
    letter-spacing: 0.6px;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px silver;
    margin-left: 30px;
}
.order-completed a:nth-child(1) {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid black;
    line-height: 20px;
}
a.legal-active {
    color:#0f8ac2 !important;
}

ul.number-list {
    padding: 0px 0px 0px 20px;
    font-size: 14px;
    color: black;
    line-height: 26px;
}
html {
    scroll-behavior: smooth;
}

.footer-top {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.footer-list1 h5 {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 26px;
    font-family: avenir-bold;
}
.footer-list1 h6 a {
    color: #dedddd;
    font-family: avenir-regular;
    font-size: 15px;
    letter-spacing: 0.2px;
}


.footer-list1 h6 {
    margin: 0px 0px 15px 0px;
    line-height: 20px;
}

.footer-list1 p {
    margin: 0px 0px 15px 0px;
    line-height: 20px;
    color: #dedddd;
    font-family: avenir-regular;
    font-size: 15px;
    letter-spacing: 0.2px;
    position: relative;
    padding-left: 20px;
}


.footer-list1 p a {
    color: #dedddd;
}

i.fa.fa-phone {
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}


.footer-list1 p i {
    position: absolute;
    left: -5px;
    top: 8px;
    font-size: 13px;
    color: #dedddd;
}

.footer-list1 ul {
    padding: 0px;
}
section.all-steps {
    padding: 0px 0px;
    min-height: 600px;
    position: relative;
}
.navbar-custom2 {
    float: right;
    padding-top: 22px;
}
.menu-item {
    float: left;
    margin-left: 25px;
    padding-top: 8px;
}

.menu-login {
    float: left;
    margin-left: 32px;
    border: 1px solid black;
    padding: 9px 16px;
}
.menu-started {
    float: left;
    margin-left: 15px;
}
.menu-login a:nth-child(1) {
    color: black;
    font-weight: normal;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 6px;
    line-height: 15px;
    margin-right: 2px;
    font-family: avenir-bold;
}
.menu-login a:nth-child(2) {
color: black;
    font-size: 15px;
    line-height: 15px;
    font-family: avenir-regular;
 
}
.menu-item a {
    color: black;
    font-size: 17px;
    font-family: avenir-regular;
}
.menu-started a {
    background: black;
    color: white;
    padding: 8px 28px;
    font-size: 16px;
    border:1px solid black;
    font-family: avenir-regular;
}

.navbar-handler {
    display: none;
}

section.order-numbering {
    background: white;
    padding: 18px 0px;
    text-align: center;
    position: relative;
    margin-top: -40px;
}

.info-box h5 img {
    position: absolute;
    left: 0px;
    height: 80px;
}


.info-box h5 {
    font-size: 34px;
    margin-bottom: 15px;
}

.bor-box {
    border-right: 1px solid black;
    padding-right: 0px;
}

 
.info-box {
    float: left;
    width: 85%;
    padding-bottom: 40px;
    margin-left: 25px;
    min-height: 235px;
}

.next-previous {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.next-previous {
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 80%;
}


.next-buttons a:nth-child(1) {
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid silver;
    line-height: 20px;
}

 

.next-buttons a:nth-child(2) {
    color: white;
    font-family: avenir-regular;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid silver;
    line-height: 20px;
    float: right;
    background: #212121;
    padding: 12px 45px;
    border-radius: 7px;
    box-shadow: 1px 1px 15px silver;
    letter-spacing: 1px;
}

span.silver {
    background: silver;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid silver;
}
span.gold {
    background: gold;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid silver;
}

.two-points img {
    width: 54%;
    margin-bottom: -10px;
    margin-top: 0px;
}

.half-layout {
    padding: 0px 85px;
}



/*Media Queries Of Website*/




@media screen and (max-width:8000px) and (min-width:1040px) { 
.navbar-custom2 {
    display: block !important;
}


}





/*Small Laptops*/
@media screen and (max-width:1030px) and (min-width:768px) { 
    section.privacy-page {
    padding-bottom: 50px;
    padding: 0px 30px;
}

    .bor-box {
    border-right: none;
    padding-right: 0px;
    border-bottom: 1px solid black;
   margin-bottom: 40px;
}

.footer-list1 {
    float: left;
    width: 100%;
    min-height: 260px;
}
.info-box {
    float: left;
    width: 85%;
    padding-bottom: 30px;
    margin-left: 25px;
    min-height: 0px;
    margin-bottom: 10px;
}
.info-text .container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}
    .gallery-dimensions .border-right {
    border-bottom: none !important;
    border-right: 1px solid #212121 !important;
}
.gallery-detail-info form select {
    width: 250px;
}
.border-right {
    border-bottom: 1px solid #212121;
    border-right: none;
}
.subscription-text {
    float: left;
    width: 100%;
    padding: 0px 25%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.print-button {
    float: left;
    width: 100%;
    margin-top: 0px;
}
.collection-cat2 .collection-image img {
    width: 80%;
    max-width: 110%;
    box-shadow: none;
    margin-bottom: 30px;
}
.collection-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 48px;
    margin-bottom: 12px;
}
.work-layout4 h5 {
    font-size: 30px;
}
.work-layout4 {
    float: left;
    width: 100%;
    padding: 0px 10px;
}
.info-box h5 br {
    display: none;
}
.collection-image img {
    width: 90%;
    box-shadow: 1px 1px 13px #d4d4d4;
}
.gal-pic h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 20px;
    float: left;
    margin-top: 15px;
    border-bottom: 1px solid #fbf7f4;
}
.checkout-totals {
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
}
.checkout-item-data .check-col1:nth-child(2) {
    font-size: 20px;
}
.checkout-item-data .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-right: 15px;
}
.frame-det-left {
    width: 100%;
    float: left;
}
.frame-det-right {
    float: left;
    width: 100%;
}
.frame-det-color {
    float: left;
    width: 50%;
    padding-top: 0px !important;
}
.frame-selections {
    float: left;
    width: 100%;
    padding-right: 0px;
}
.frame-selections img {
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
}

.frame-selections p {
    color: black;
    font-family: avenir-regular;
    font-size: 16px;
    text-align: center;
    margin-bottom: 22px;
    display: inline-block;
}
.frame-det-right {
    float: left;
    width: 100%;
    padding-top: 50px;
}
.menu-item {
    float: left;
    margin-left: 0px;
    padding-top: 0px;
    width: 100%;
    margin-bottom: 12px;
}


.menu-login {
    float: left;
    margin-left: 0px;
    border: 1px solid black;
    padding: 9px 16px;
}
.navbar-handler {
    display: block;
    float: right;
    margin-top: 20px;
}
.navbar-handler img {
    width: 40px;
    cursor: pointer;
}
.navbar-custom2 {
    display: none;
    width: 100%;
}
}


/*Tablet Devices*/
@media screen and (max-width:767px) and (min-width:520px) { 
    .footer-list1 {
    float: left;
    width: 100%;
    min-height: 260px;
}
.faqs-questions .col-md-4.col-lg-4.col-sm-6.col-xs-6 {
    width: 100%;
}
.faq-box {
    float: left;
    width: 100%;
    padding-right: 50px;
    min-height: 0px;
    padding-left: 20px;
    margin-bottom: 40px;
}
.faq-box2 {
    float: left;
    width: 100%;
    padding-right: 50px;
    min-height: 0px;
    padding-left: 20px;
    margin-bottom: 40px;
}
.layout1 img.versace {
    width: 65px;
    position: static;
    right: -8%;
    top: 135px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.three-points img {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    display: none;
}
img.mobile-line {
    display: block;
    width: auto;
}
.work-layout4 h5 {
    font-size: 35px;
}
.work-layout1 h5 {
    color: #070707;
    font-size: 40px;
    font-family: avenir-regular;
    margin-bottom: 13px;
}
br {
    display: none;
}
.layout-image img {
    width: 100%;
    max-width: 100%;
}
.works-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 48px;
    margin-bottom: 12px;
}
.home-banner {
    background-image: url(../images/pink-bg.jpg);
    background-size: 100% 430px;
    text-align: center;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 60px;
}
.info-box h5 {
    color: #070707;
    font-size: 32px;
    font-family: avenir-regular;
    margin-bottom: 12px;
}
.get-started {
    background-image: url(../images/get-started-arrows.png);
    background-size: 160% 100%;
    background-position: top center;
}
.get-started span {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    padding: 12px 0px;
}
.standard-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 40px;
    margin-bottom: 22px;
}
.standard-text p {
    color: #4c4c4c;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 0px 20px;
}
.collection-image img {
    width: 85%;
    box-shadow: 1px 1px 13px #d4d4d4;
    margin-bottom: 30px;
}
.collection-cat2 .collection-image img {
    width: 80%;
    max-width: 110%;
    box-shadow: none;
}
.border-right {
    border-bottom: 1px solid #212121;
    border-right: none;
}
.subscription-text {
    float: left;
    width: 100%;
    padding: 0px 25%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.print-button {
    float: left;
    width: 100%;
    margin-top: 0px;
}
.info-box {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.three-pics {
    width: 49.5%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
}
.four-pics {
    width: 49.5%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
}
.gal-pic h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 20px;
    float: left;
    margin-top: 15px;
    border-bottom: 1px solid #fbf7f4;
}
.gallery-detail-info {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.gallery-detail-info form select {
    display: block;
    width: 200px;
    height: 46px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 16px;
    margin-bottom: 30px;
}
.gallery-dimensions .border-right {
    border: none !important;
}
.privacy-policy-left {
    float: left;
    width: 100%;
}
.legal-anchors {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.privacy-policy-right {
    float: left;
    width: 100%;
    padding: 0px 20px;
}
.privacy-policy-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 40px;
}
.privacy-policy-head {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.form-field3 input {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
}
.account-form .form-field3 a {
    color: black;
    font-family: avenir-regular;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    border-bottom: 1px solid black;
    line-height: 23px;
    letter-spacing: 0.7px;
    margin-top: 10px;
}
.form-field3 select:nth-child(2) {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
    margin-bottom: 15px;
}
.form-field3 select:nth-child(3) {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
    margin-left: 0px;
}
.order-col-head .order-col1 {
    width: 25%;
    float: left;
    color: #636363;
    font-size: 15px;
}
.order-col-head .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: #636363;
    font-size: 15px;
}
.order-col-data .order-col1 {
    width: 25%;
    float: left;
    color: black;
    font-size: 15px;
    font-family: avenir-regular;
}

.order-col-data .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: black;
    font-size: 15px;
}
.order-col-data .order-col1:nth-child(5) {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}
a.order-btn2 {
    background: white;
    color: black;
    font-family: avenir-regular;
    padding: 10px 25px;
    border-radius: 9px;
    box-shadow: 1px 1px 10px silver;
    letter-spacing: 0.8px;
    font-style: italic;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.draft-col-head .draft-col1 {
    width: 33%;
    float: left;
    color: #636363;
    font-size: 17px;
}
.draft-col-data .draft-col1 {
    width: 33%;
    float: left;
    color: black;
    font-size: 17px;
    font-family: avenir-regular;
}
.draft-col-data .draft-col1:nth-child(2) {
    width: 33%;
    float: left;
    color: black;
    font-size: 17px;
}
.draft-col-buttons {
    float: right;
    text-align: left;
    margin-top: 25px;
    width: 100%;
}
.draft-col-buttons a {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 15px;
    border-bottom: 1px solid black;
    line-height: 20px;
    margin-left: 0px;
    float: none;
    margin-right: 30px;
}
.frame-more-images {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 50px;
}

.checkout-item-data .check-col1:nth-child(2) {
    font-size: 18px;
}
.checkout-item-data .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-right: 20px;
}
.checkout-item-head .check-col1:nth-child(3) {
    width: 25%;
}
.checkout-totals {
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
}
.cancel-pop {
    display: block;
    padding: 30px 20px;
}

.cancel-pop-main {
    margin-top: 150px;
}

.cancel-pop h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 25px;
    margin-bottom: 20px;
}
.cancel-pop p {
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-bottom: 25px;
}


.cancel-pop a:nth-child(3) , .cancel-pop a:nth-child(4) {
    font-size: 14px;
    padding: 10px 25px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.first-step h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 45px;
}
.layout-dropdown {
    width: 90%;
}
.custom-frame-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 25px;
    letter-spacing: 0px;
}
.custom-frame-head {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.frame-det-color {
    float: left;
    width: 100%;
    padding-top: 90px;
    padding-right: 15px;
}
.frame-det-left {
    width: 40%;
    float: left;
}

.frame-det-right {
    float: left;
    width: 55%;
}
.frame-det-color h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    margin-bottom: 10px;
}
.custom-frame-boxes {
    float: left;
    width: 100%;
    background: #f5f2ed;
    padding: 20px 20px;
}
.custom-frame-box-left .row .col-md-6.col-lg-6.col-sm-6.col-xs-6 {
    width: 100%;
}
.custom-frame-box-left {
    width: 100%;
    float: left;
}

.custom-frame-image img {
    width: 100%;
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-width: 100%;
}
.custom-frame-image {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.custom-frame-image2 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.custom-frame-box-right {
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-top: 30px;
}
.custom-frame-box-right .row .col-md-8.col-lg-8.col-sm-8.col-xs-6 {
    width: 100%;
}
.custom-frame-box-right .row  .col-md-4.col-lg-4.col-sm-4.col-xs-4 {
    width: 100%;
}
.custom-frame-box-right .row  .col-md-4.col-lg-4.col-sm-4.col-xs-6 {
    width: 100%;
}
.custom-frame-image3 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
section.all-steps {
    padding: 0px 0px;
    min-height: 100px;
}
.menu-item {
    float: left;
    margin-left: 0px;
    padding-top: 0px;
    width: 100%;
    margin-bottom: 12px;
}


.menu-login {
    float: left;
    margin-left: 0px;
    border: 1px solid black;
    padding: 9px 16px;
}
.navbar-handler {
    display: block;
    float: right;
    margin-top: 20px;
}
.navbar-handler img {
    width: 40px;
    cursor: pointer;
}
.navbar-custom2 {
    display: none;
    width: 100%;
}
.footer-list1 {
    float: left;
    width: 100%;
    min-height: 225px;
}

.footer-form h6 {
    color: white;
    font-family: avenir-regular;
    font-size: 19px;
    letter-spacing: 0.4px;
    margin-top: 0px;
}.next-previous {
    position: static;
    bottom: 10%;
    left: 4%;
    width: 100%;
    padding: 0px 5%;
    padding-bottom: 50px;
}
.next-buttons a:nth-child(1) {
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid silver;
    line-height: 20px;
    margin-top: 10px;
}
.half-layout {
    padding: 0px 30px;
}
}




/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:300px) { 
    .footer-list1 {
    float: left;
    width: 100%;
    min-height: 260px;
}
    .gal-pic h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 20px;
    float: left;
    margin-top: 15px;
    border-bottom: 1px solid #fbf7f4;
}
.navbar-custom {
    position: absolute;
    right: -100%;
    background: #050708;
    width: 280px;
    top: 0px;
    padding: 25px 30px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: 999;
}
.navbar-custom p a {
    color: white;
    font-family: avenir-regular;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.logo img {
    width: 140px;
}
.hamburger-btn {
    float: right;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 9999999;
}

.footer-form input[type="email"] {
    border: none;
    width: 100%;
    font-size: 15px;
    color: black;
    padding: 12px 26px;
}
.footer-form h5 {
    color: white;
    font-family: avenir-regular;
    font-size: 22px;
    margin-bottom: 28px;
}
.footer-form h6 {
    color: white;
    font-family: avenir-regular;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-top: 32px;
    line-height: 26px;
}
.footer-anchors a {
    color: #939598;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin: 0px 7px 4px 7px;
}
.footer-anchors p {
    color: #939598;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-top: 15px;
}
.collection-cat1 .col-md-4.col-lg-4.col-sm-4.col-xs-6 {
    width: 100%;
}
.collection-image img {
    width: 75%;
    box-shadow: 1px 1px 13px #d4d4d4;
    margin-bottom: 40px;
}
.collection-btn {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.collection-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 12px;
}
.collection-head p {
    color: #070707;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 28px;
}
br {
    display: none;
}
.collection-head h1 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 24px;
    margin-bottom: 20px;
}
.get-started span {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    padding: 5px 0px;
}
.get-started {
    background-image: url(../images/get-started-arrows.png);
    background-size: 175% 100%;
    background-position: top center;
}
.standard-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 22px;
    padding: 0px 20px;
}
.standard-text p {
    color: #4c4c4c;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 0px 20px;
}
.banner-text h5 {
    color: #070707;
    font-size: 35px;
    font-family: avenir-regular;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}
.banner-text p {
    color: #5d5d5d;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 30px;
    line-height: 22px;
}
.banner-text img {
    width: 100%;
    max-width: 100%;
}
.info-box {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.info-box h5 {
    color: #070707;
    font-size: 32px;
    font-family: avenir-regular;
    margin-bottom: 12px;
}
section.info-text {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 40px;
} 
.home-banner {
    background-image: url(../images/pink-bg.jpg);
    background-size: 100% 320px;
    text-align: center;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 60px;
}
.faqs-questions .col-md-4.col-lg-4.col-sm-6.col-xs-6 {
    width: 100%;
}
.faq-box {
    float: left;
    width: 100%;
    padding-right: 0px;
    min-height: 0px;
    margin-bottom: 40px;
}
.faq-box2 {
    float: left;
    width: 100%;
    padding-right: 0px;
    min-height: 0px;
    margin-bottom: 40px;
}
.faq-heading h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 32px;
    margin-bottom: 12px;
}
.faq-heading p {
    color: #070707;
    font-size: 16px;
    max-width: 480px;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.contact-call h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 26px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}
.contact-call a:nth-child(3) {
    background: #212121;
    font-family: avenir-regular;
    font-style: italic;
    padding: 10px 40px;
    color: #e2e2e2;
    font-size: 16px;
    letter-spacing: 0.4px;
    border-radius: 8px;
}
.works-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 40px;
    margin-bottom: 12px;
}
.works-head p {
    color: #070707;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.work-layout1 img {
    height: 100px;
    margin-bottom: 10px;
}
.work-layout1 h5 {
    color: #070707;
    font-size: 35px;
    font-family: avenir-regular;
    margin-bottom: 13px;
}
.work-layout1 h5 span {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
}
.work-layout1 p {
    color: #4c4b4b;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 28px;
}
.layout1 img.versace {
    width: 65px;
    position: static;
    right: -8%;
    top: 135px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.layout-image img {
    width: 100%;
    max-width: 100%;
}
.three-points img {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    display: none;
}
img.mobile-line {
    display: block;
    height: 100px;
    width: auto;
    margin-bottom: 15px;
}
.contact-anchors h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 30px;
    margin-bottom: 8px;
}
.contact-anchors p a {
    color: #070707;
    font-family: avenir-regular;
    font-size: 16px;
    margin-bottom: 20px;
}
.contact-form h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 45px;
    margin-bottom: 5px;
}
.contact-form p {
    color: #070707;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.4px;
}
.contact-form form {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.border-right {
    border-bottom: 1px solid #212121;
    border-right: none;
}
.subscription-text {
    float: left;
    width: 100%;
    padding: 0px 10%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.print-button {
    float: left;
    width: 100%;
    margin-top: 0px;
}
.print-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 15px;
}
.header-empty {
    float: left;
    width: 100%;
    height: 125px;
}
.subscription-cancel-data h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 32px;
    margin-bottom: 12px;
}

.subscription-cancel-data {
    width: 100%;
    max-width: 560px;
    margin: auto;
    margin-top: 50px;
}
.login-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
}
.follow-pass-text h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 30px;
    margin-bottom: 40px;
}
.gallery-search input[type="text"] {
    border: none;
    width: 100%;
    border-right: 1px solid #adadad;
    padding: 8px 20px 8px 50px;
    font-family: avenir-regular;
    font-size: 16px;
}
.gallery-search form {
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid black;
    padding: 5px 0px;
}
.gallery-search form select {
    width: 90%;
    position: static;
    right: 30px;
    border: none;
    font-family: avenir-regular;
    color: black;
    font-size: 17px;
    top: 0px;
    height: 45px;
    padding: 0px 45px;
}
.gallery-search form i {
    position: absolute;
    top: 15px;
    font-size: 15px;
    left: 18px;
}
.three-pics {
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
    padding: 0px 20px;
}
.four-pics {
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: bottom;
    padding: 0px 20px;
}
.gal-pic img {
    width: 100%;
    max-width: 100%;
}

.gallery-search h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.gallery-detail-info {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.gallery-detail-info h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 35px;
    margin-bottom: 15px;
}
.gallery-detail-info h3 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.gallery-dimensions .border-right {
    border: none !important;
}
.gallery-dimensions-box p {
    font-family: avenir-regular;
    color: #070707;
    font-size: 28px;
    margin-bottom: 25px;
}

.gallery-dimensions-box h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 15px;
    margin-bottom: 5px;
}
.similar-images-head h5 {
    color: #070707;
    font-family: avenir-regular;
    font-size: 17px;
    letter-spacing: 1px;
}

.privacy-policy-left {
    float: left;
    width: 100%;
}
.legal-anchors {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.privacy-policy-right {
    float: left;
    width: 100%;
    padding: 0px 20px;
}
.privacy-policy-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 40px;
}
.privacy-policy-head {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.form-field3 input {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
}
.account-form .form-field3 a {
    color: black;
    font-family: avenir-regular;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    border-bottom: 1px solid black;
    line-height: 23px;
    letter-spacing: 0.7px;
    margin-top: 10px;
}
.form-field3 select:nth-child(2) {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
    margin-bottom: 15px;
}
.form-field3 select:nth-child(3) {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: 1.3px solid black;
    border-radius: 10px;
    font-size: 19px;
    font-family: avenir-regular;
    margin-left: 0px;
}
.order-col-head .order-col1 {
    width: 25%;
    float: left;
    color: #636363;
    font-size: 15px;
}
.order-col-head .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: #636363;
    font-size: 15px;
}
.order-col-data .order-col1 {
    width: 25%;
    float: left;
    color: black;
    font-size: 15px;
    font-family: avenir-regular;
}

.order-col-data .order-col1:nth-child(2) {
    width: 24%;
    float: left;
    color: black;
    font-size: 15px;
}
.order-col-data .order-col1:nth-child(5) {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}
a.order-btn2 {
    background: white;
    color: black;
    font-family: avenir-regular;
    padding: 10px 25px;
    border-radius: 9px;
    box-shadow: 1px 1px 10px silver;
    letter-spacing: 0.8px;
    font-style: italic;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.draft-col-head .draft-col1 {
    width: 33%;
    float: left;
    color: #636363;
    font-size: 17px;
}
.draft-col-data .draft-col1 {
    width: 33%;
    float: left;
    color: black;
    font-size: 17px;
    font-family: avenir-regular;
}
.draft-col-data .draft-col1:nth-child(2) {
    width: 33%;
    float: left;
    color: black;
    font-size: 17px;
}
.draft-col-buttons {
    float: right;
    text-align: left;
    margin-top: 25px;
    width: 100%;
}
.draft-col-buttons a {
    color: black;
    font-family: avenir-regular;
    font-style: italic;
    font-size: 15px;
    border-bottom: 1px solid black;
    line-height: 20px;
    margin-left: 0px;
    float: none;
    margin-right: 30px;
}
.all-frames div {
    float: left;
    width: 50%;
    text-align: center;
    padding: 20px 10px;
}
.collection-detail-text {
    float: left;
    width: 100%;
    padding-left: 10px;
}
.frame-more-images {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 50px;
}
.frame-more-images img {
    width: 60px;
    margin: 0px 5px;
    border: 1px solid silver;
}
.checkout-item-head .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 13px;
    letter-spacing: 0px;
}
.checkout-item-data .check-col1 img {
    width: 60px;
    display: block;
    margin-bottom: 20px;
}
.checkout-item-data .check-col1 {
    width: 25%;
    float: left;
    text-align: left;
    color: black;
    font-family: avenir-regular;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.checkout-item-data .check-col1:nth-child(2) {
    font-size: 16px;
}
.checkout-item-data .check-col1:nth-child(5) a {
    float: none;
    margin-top: 0px;
    position: absolute;
    right: auto;
    top: auto;
    bottom: 15px;
    left: 40%;
    text-align: center;
}
.checkout-item-data {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}
.promo-form form input[type="text"] {
    width: 85%;
    height: 45px;
    padding: 0px 10px;
    background: none !important;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkout-totals {
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-top: 40px;
}
.proceed-checkout button {
    background: #212121;
    color: white;
    border: none;
    font-family: avenir-regular;
    font-style: italic;
    letter-spacing: 0.6px;
    font-size: 16px;
    padding: 14px 27px;
    border-radius: 5px;
    box-shadow: 3px 4px 10px silver;
    float: none;
    margin-top: 20px;
}
.cancel-pop {
    display: block;
    padding: 30px 20px;
}

.cancel-pop-main {
    margin-top: 150px;
}

.cancel-pop h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 25px;
    margin-bottom: 20px;
}
.cancel-pop p {
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-bottom: 25px;
}


.cancel-pop a:nth-child(3) , .cancel-pop a:nth-child(4) {
    font-size: 14px;
    padding: 10px 25px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.layout-dropdown {
    width: 90%;
}

.first-step h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 30px;
    margin-bottom: 31px;
}
.custom-frame-head h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 25px;
    letter-spacing: 0px;
}
.custom-frame-head {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.frame-det-color {
    float: left;
    width: 100%;
    padding-top: 90px;
    padding-right: 15px;
}
.frame-det-left {
    width: 40%;
    float: left;
}

.frame-det-right {
    float: left;
    width: 55%;
}
.frame-det-color h5 {
    color: black;
    font-family: avenir-regular;
    font-size: 18px;
    margin-bottom: 10px;
}
.custom-frame-boxes {
    float: left;
    width: 100%;
    background: #f5f2ed;
    padding: 20px 20px;
}
.custom-frame-box-left .row .col-md-6.col-lg-6.col-sm-6.col-xs-6 {
    width: 100%;
}
.custom-frame-box-left {
    width: 100%;
    float: left;
}

.custom-frame-image img {
    width: 100%;
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-width: 100%;
}
.custom-frame-image {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.custom-frame-image2 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.custom-frame-box-right {
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-top: 30px;
}
.custom-frame-box-right .row .col-md-8.col-lg-8.col-sm-8.col-xs-6 {
    width: 100%;
}
.custom-frame-box-right .row  .col-md-4.col-lg-4.col-sm-4.col-xs-4 {
    width: 100%;
}
.custom-frame-box-right .row  .col-md-4.col-lg-4.col-sm-4.col-xs-6 {
    width: 100%;
}
.custom-frame-image3 img {
    border: 15px solid #54372f;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
section.all-steps {
    padding: 0px 0px;
    min-height: 100px;
}

.menu-item {
    float: left;
    margin-left: 0px;
    padding-top: 0px;
    width: 100%;
    margin-bottom: 12px;
}


.menu-login {
    float: left;
    margin-left: 0px;
    border: 1px solid black;
    padding: 9px 16px;
}
.navbar-handler {
    display: block;
    float: right;
    margin-top: 20px;
}
.navbar-handler img {
    width: 40px;
    cursor: pointer;
}
.navbar-custom2 {
    display: none;
}
section.order-numbering {
    background: white;
    padding: 18px 0px;
    text-align: center;
    position: relative;
    margin-top: -16px;
}
.footer-top .col-md-3.col-lg-3.col-sm-6.col-xs-6 {
    width: 100%;
}
.footer-list1 {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.next-previous {
    position: static;
    bottom: 10%;
    left: 4%;
    width: 100%;
    padding: 0px 5%;
    padding-bottom: 50px;
}
.next-buttons a:nth-child(1) {
    color: black;
    font-family: avenir-regular;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid silver;
    line-height: 20px;
    margin-top: 10px;
}
.half-layout {
    padding: 0px 30px;
}
}